@{
    ViewData["Title"] = "Level Selector";
}
<h2>@ViewData["Title"]</h2>

<p>Her skal du have mulighed for at se alle de levels der er tilgængelige <br />
    Derudover skal du også have mulighed for at se din score på de enkelte levels <br />
    </p>
